@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Font class declaration
  2. HTML5 Boilerplate Code
  3. Helper Classes
  4. PRDXN's custom styles
    4.1. Body
    4.2. Header
    4.3. Main
    4.4. Footer
  5. Media Queries
  6. Print Styles
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, img, ins, kbd, q,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  vertical-align: baseline;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
    outline: ?????;
} */

/* 1.2. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* This is just an example. You have to replace it with the font class you will be using for the project. */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. HTML5 Boilerplate Code
   ========================================================================== */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea { color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video { vertical-align: middle; }

textarea { resize: vertical; }

.browsehappy {
	padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* ==========================================================================
   3. Helper classes
   ========================================================================== */

/* For image replacement. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  width: 0;
  height: 150%;
  display: block;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contain floats: h5bp.com/q */
.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }


/* ==========================================================================
   4. PRDXN's custom styles
   ========================================================================== */
/*
    Author: PRDXN;
    Company Website: http://www.prdxn.com;
*/

/* 4.1. Body
   ========================================================================== */
body {
  position: relative;
  background: url('../images/bg_img.jpg') center no-repeat;
  background-size: 100% 100%;
  font-family: 'Arial'
}

.container {
  max-width: 1425px;
  width: 100%;
}

.wrapper {
  width: 93.32%;
  margin: 0 auto;
}

a {
  color: #fff;
  text-decoration: none;
}

/* 4.2. Header
   ========================================================================== */
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
}

h1 {
  width: 146px;
  height: 95px;
  margin: 8px 0 7px;
  display: inline-block;
  vertical-align: top;
  background: url('../images/WATDF-site-logo-blk.png') no-repeat;
  text-indent: -9999px;
}

a {
  width: 100%;
  height: 100%;
  display: block;
}

.main-header {
  background-color: #000;
  color: #fff;
}

header ul li,
footer ul li {
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
}

nav ul li {
  margin: 0 0 0 4%;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: 700;
}

nav ul li:nth-child(2n) { margin: 0 0 0 2.5%; }

nav ul li:hover a,
nav ul li:active a { color: #00a1df; }

nav ul li.about-gm,
nav ul li.wl { position: relative; }

nav ul li.about-gm { width: 13%; }

nav ul li.wl { width: 26.5%; }

nav ul li.about-gm a,
nav ul li.wl a {
  width: 88%;
  display: inline-block;
}

nav ul li.wl a {
  width: 90%;
  margin-right: 3px;
}

nav ul li ul {
  width: 160%;
  display: none;
  position: absolute;
  top: 16px;
  left: -3px;
  background-color: #000;
}

nav ul li.about-gm ul li a,
nav ul li.wl ul li a { color: #fff; }

nav ul li.about-gm ul li:hover a,
nav ul li.wl ul li:hover a { color: #00a1df; }

nav ul li.about-gm:hover ul,
nav ul li.wl:hover ul { display: block; }

nav ul li ul li {
  width: 100%;
  padding: 8px 0;
}

nav {
  box-sizing: border-box;
  width: 50%;
  padding: 0 0 23px;
  display: inline-block;
  vertical-align: bottom;
}

.right-header {
  width: 27%;
  float: right;
}

.fb {
  width: 21px;
  height: 21px;
  background: url('../images/icons-sprite-set.png') no-repeat 0 -65px;
}

.twiter {
  width: 21px;
  height: 21px;
  background: url('../images/icons-sprite-set.png') no-repeat -32px -65px;
}

.in {
  width: 21px;
  height: 21px;
  background: url('../images/icons-sprite-set.png') no-repeat -64px -65px;
}

.youtube {
  width: 21px;
  height: 21px;
  background: url('../images/icons-sprite-set.png') no-repeat -96px -65px;
}

.mobile {
  width: 21px;
  height: 21px;
  background: url('../images/icons-sprite-set.png') no-repeat -128px -65px;
}

.social-media ul li.share {
  width: 20%;
  margin: 0 0 0 4%;
  background: url('../images/share.png') no-repeat 40px 0;
}

.social-media ul li.print { margin: 0; }

.print {
  width: 19%;
  background: url('../images/printer.png') no-repeat 37px 0;
}

.search-bar {
  border-bottom: 1px dotted #fff;
}

.search-bar a {
  width: 52px;
  display: inline;
  font-family: arial;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-bar form {
  width: 76%;
  margin: 0 0 16px 9%;
  display: inline-block;
  font-family: arial;
  font-size: 11px;
  font-weight: 700;
  text-transform: capitalize;
}

input {
  margin: 7px 0 0;
  background-color: #000;
  border: none;
  color: #fff;
  outline: none;
}

input[type="text"] {
  width: 210px;
  height: 21px;
  padding: 0 0 0 5px;
  margin: 0;
  vertical-align: top;
  text-transform: capitalize;
}

form #search-cs { margin: 7px 0 0 7% }

::-webkit-input-placeholder { color: #fff; }

:-moz-placeholder { color: #fff; }

::-moz-placeholder { color: #fff; }

:-ms-input-placeholder { color: #fff; }

form div + div {
  margin: 3px 0 0;
  border: 1px solid #fff;
}

form div label {
  font-size: 12px;
  font-weight: 700;
  vertical-align: text-bottom;
}

form div + div label {
  width: 25px;
  height: 21px;
  display: inline-block;
  background: url('../images/icons-sprite-set.png') no-repeat 4px 3px;
  border-left: 1px solid #fff;
}

form div + div label:hover { background: url('../images/icons-sprite-set.png') no-repeat -25px 3px; }

.social-media {
  width: 87%;
  margin: 9px 0 0;
  float: right;
}

.social-media ul li {
  margin: 0 0 0 2%;
  font-size: 10px;
  font-weight: 700;
}

.social-media ul li a { margin: 2px 0 0; }

.sub-header {
  background-color: #00a1df;
  border-bottom: 1px solid #fff;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
}

.sub-header ul {
  width: 74.5%;
  padding: 13px 0;
  margin: 0 auto;
}

.sub-header ul li { margin: 0 0 0 2%; }

.sub-header ul li a:hover { color: #000; }

.right-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #00a1df;
  display: inline-block;
}

.bottom-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid #00a1df;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  position: absolute;
  top: 5px;
  display: inline-block;
}

/* 4.3. Main
   ========================================================================== */
.main .wrapper {
  padding: 25px 0 33px;
  background-color: rgba(255, 255, 255, 0.6);
}

.content,
.moduals,
.middle-content { width: 90%; }

.content {
  padding: 20px 0 0;
  margin: 155px auto 0;
  background-color: #fff;
}

/*.breadcrumbs { margin: 0 32px; }*/

.section-header span.breadcrumbs,
.section-header .breadcrumbs span,
.section-header .breadcrumbs a {
  margin: 0;
  display: inline;
  color: #fff;
  font-size: 14px;
  list-style-type: none;
  text-transform: capitalize;
  font-family: 'OpenSans', Arial;
}

.section-header .breadcrumbs a { text-decoration: underline; }

.section-header span.breadcrumbs { padding: 0 1.6%; }

.left-content {
  width: 53.2%;
  margin: 25px 0 0 3%;
  display: inline-block;
  vertical-align: top;
}

.right-content {
  width: 40%;
  margin: 26px 0 0;
  display: inline-block;
  vertical-align: top;
}

.moduals,
.middle-content { margin: 20px auto 0; }

.modual {
  box-sizing: border-box;
  width: 32.24%;
  padding: 19px 3.2%;
  margin: 0 1.2% 0 0;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.modual:nth-child(3n) { margin: 0; }

.modual img { width: 100%; }

.section-header {
  padding: 0 0 13px;
  margin: 0 3.2% 0 0;
  background-color: #000;
}

h2 {
  margin: 0 0 5px 3%;
  color:  #fff;
  font-family: 'OpenSans, Arial';
  font-size: 41.88px;
  font-weight: 300;
  line-height: 37.4px;
  text-transform: uppercase;
}

.section-header span {
  margin: 0 0 0 3%;
  color:  #00a1df;
  font-family: 'OpenSans, Arial';
  font-size: 35.9px;
  font-weight: 600;
  line-height: 37.4px;
  text-transform: uppercase;
}

h3 {
  color:  #444;
  font-family: 'OpenSans, Arial';
  font-size: 22px;
  font-weight: 400;
  line-height: 24.25px;
  text-transform: uppercase;
}

.left-content div { margin: 0px 4.5% 0 0px; }

.left-content p,
.right-content p {
  margin: 15px 0 0;
  color:  #444;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.13px;
  line-height: 18px;
}

.right-content a.read-more,
.middle-content a.read-more,
.left-content div a {
  width: 40%;
  padding: 0 0 5px 15px;
  background: url('../images/arrow.png') no-repeat 0 7px;
  color:  #00a1df;
  font-family: 'OpenSans, Arial';
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

article img { vertical-align: top; }

.left-content .explore-gm,
.middle-left .explore-gm {
  width: 37.5%;
  padding: 0px 4.5% 0 10px;
  display: inline-block;
}

.left-content .explore-gm a,
.middle-left .explore-gm a {
  box-sizing: border-box;
  width: 100%;
  padding: 7px 0 3px 13px;
  background: url('../images/search_icon.png') no-repeat 19px 13px #f6b221;;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.left-content .accordion,
.middle-left .cand-profile,
.middle-right .gm-access {
  border-top: 1px dotted;
  margin: 22px 4.5% 0 0px;
}

.accordion ul li {
  box-sizing: border-box;
  width: 98%;
  padding: 7px 0 0;
  margin: 0 0 6px;
  background-color:  #eaeaea;
  color:  #444;
  cursor: pointer;
  font-family: 'OpenSans';
  font-size: 13.96px;
  font-weight: 300;
  line-height: 12.466px;
  text-transform: uppercase;
}

.accordion span.plus {
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding-top: 2.5px;
  border: 3px solid;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: 0 4px 6px 1.5%;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  text-align: center;
}

.accordion span + span {
  margin: 7px 0px 0;
  display: inline-block;
}

.accordion ul li.active {
  background-color: #00a1df;
  color: #FFF;
}

.accordion-plus:before { content: "\2b"; }

.accordion-minus:before { content: "\2d"; }

.accordion p { display: none; }

.right-content img + img { margin: 12px 0 25px; }

.right-content img { width: 100%; }

.right-content img:last-child {
  width: 77%;
  margin: 0 0 20px 14%;
}

h4 {
  margin: 0 0 2px;
  color:  #444;
  font-family: 'OpenSans, Arial';
  font-size: 17.95px;
  font-weight: 400;
  line-height: 37.4px;
  text-transform: uppercase;
}

.modual p {
  margin: 24px 0 0;
  color:  #444;
  font-family: 'Arial';
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.accordion p.accContent {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 0 0 6px;
  margin: 0 0 0;
  display: block;
  cursor: pointer;
  background-color: #fff;
  font-family: 'Arial';
  text-transform: none;
}

.modual ul li,
#jobSearchApply .right-content ul li {
  margin: 5px 0 0 4%;
  color:  #444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 17.25px;
  list-style: disc outside;
}

#jobSearchApply .right-content ul li {
  width: 87%;
  margin: 8px 0 0 6%;
}

#jobSearchApply .right-content ul li > a {
  display: inline;
  color: #00a1df;
  text-decoration: underline;
}

#jobSearchApply .right-content ul li > span { font-weight: 700;}

#jobSearchApply .modual ul { margin: 15px 0 0 ;}

#jobSearchApply .left-content { width: 45.2%; }

#jobSearchApply .right-content { width: 48%; }

.right-content a.read-more,
.middle-content a.read-more {
  width: 16%;
  padding: 0 0 5px 12px;
  background: url('../images/arrow.png') no-repeat 0 13px;
  font-size: 14px;
  line-height: 37.4px;
}

.middle-left,
.middle-right {
  box-sizing: border-box;
  width: 49%;
  padding: 8px 3%;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
}

.middle-left { margin: 0 1.5% 0 0; }

#jobSearchApply p {
  color:  #444;
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  line-height: 17.25px;
}

.middle-left .explore-gm {
  width: 58.5%;
  padding: 0px 0% 0 10px;
}

.middle-left .explore-gm a {
  width: 81.5%;
  margin: 7px 0 0;
}

.middle-content a {
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.middle-content .cand-profile a.read-more {
  width: 13%;
  padding: 0px 0 5px 24px;
  background: url('../images/icon_user.png') no-repeat 0 8px;
}

.middle-content .stay-conn a.read-more {
  width: 15%;
  padding: 0px 0 5px 40px;
  background: url('../images/icon_users.png') no-repeat 0 8px;
}

.middle-content .gm-access a.read-more {
  width: 19%;
  padding: 0 0 7px 10px;
  background: url('../images/arrow.png') no-repeat 0 5px;
  line-height: 21.4px;
}

.middle-right .gm-access { margin: 3px 0 0; }

h5 {
  margin: 17px 0 3px;
  color: #444;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.stay-conn p { margin: 7px 0 0; }

#jobSearchApply ul.steptabs {
  height: 75px;
  padding: 10px 0px 0px 10px;
  margin: 0 0 5px;
  background: #00a1df;
  list-style: none;
}

#jobSearchApply ul.steptabs li {
  width: 23%;
  margin: 0;
  display: inline-block;
  color:  #fff;
  font-family: 'OpenSans';
  font-size: 12.97px;
  font-weight: 400;
  line-height: 13.4px;
  text-transform: uppercase;
}

#jobSearchApply ul.steptabs li a{
  box-sizing: border-box;
  background: url('../images/arrow.png') no-repeat 0 7px;
  padding: 5px 0 6px 12px;
}

#jobSearchApply ul.steptabs li .active {
  background: #f6bb21;
  background: url('../images/arrow.png') no-repeat 0 7px #f6bb21;
}

.steps h4 {
  border-top: 1px dotted #fff;
  margin: 0 8px 2px 0;
  color: #fff;
  font-size: 15.95px;
}

.modual1 > div { margin: -48px 0 0 3%; }

.video-container {
  position:relative;
  padding-bottom:20.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe {
  position:absolute;
  top:0;
  left:0;
  width:95%;
  height:100%;
}

/* 4.4. Footer
   ========================================================================== */
footer {
  /*width: 100%;*/
  padding: 10px 0 0;
  /*position: fixed;
  bottom: 0;*/
  background-color: #000;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
}

.left-footer {
  margin: 8px 0 0 25px;
  float: left;
  color: #fff;
  text-transform: uppercase;
}

.right-footer {
  float: right;
  text-align: right;
}

.right-footer ul { margin: 0 0 7px 0; }

.right-footer ul li {
  padding: 0 8px 0 4px;
  border-right: 1px solid #fff;
}

.right-footer ul li:hover a { color: #00a1df; }

.right-footer ul li:last-child {
  padding-right: 0;
  border: none;
}

/* ==========================================================================
   5. Media Queries
   ========================================================================== */
@media only screen and (min-width: 1024px) {
  .right-content a.read-more,
  .middle-content a.read-more { width: 20%; }

  .video-container { padding-bottom: 25.25%; }

  .middle-left,
  .middle-right { width: 48.9%; }

  .middle-left .explore-gm { width: 48%; }

  .stay-conn img { width: 100%; }

  .middle-content .stay-conn a.read-more { width: 19%; }

  .middle-content .gm-access a.read-more { width: 23%; }

  .sub-header ul { width: 94%; }

  .modual {
    width: 32.16%;
    padding: 19px 2.3%;
  }

  .steps h4 { font-size: 12.95px; }

  .middle-left .explore-gm a,
  .left-content .explore-gm a {
    width: 100%;
    background: url('../images/search_icon.png') no-repeat 8px 13px #f6b221;
    font-size: 13px;
  }

  #jobSearchApply p,
  .left-content p { font-size: 11px; }

  .left-content div a { width: 50%; }

  #jobSearchApply ul.steptabs { padding: 10px 0 0 7px; }

}

@media only screen and (max-width: 1023px) {
  nav ul,
  .right-header,
  .sub-header { display: none; }

  nav {
    width: 25%;
    height: 100px;
    float: right;
    background: url('../images/menuicon.png') no-repeat 80px 35px;
  }

  .content { margin: 122px auto 0; }

  .left-content,
  .right-content {
    width: 96%;
    margin: 25px 0 0 4%;
   }

  .right-content img { width: 96%; }

  .modual {
    width: 100%;
    height: auto!important;
  }

  .moduals { background-color: #fff; }

  .left-footer {
    margin: 0 0 10px;
    float: none;
    text-align: center;
  }

  .right-footer {
    float: none;
    text-align: center;
  }

  .right-footer ul:first-child { display: none; }

  #jobSearchApply .left-content { width: 97.8%; }

  #jobSearchApply .right-content { width: 93%; }

  .middle-left,
  .middle-right,
  .stay-conn img {
    width: 100%;
    height: auto!important;
  }

  .video-container { padding-bottom: 60.25%; }

}

@media only screen and (max-width: 767px) {

  nav { background: url('../images/menuicon.png') no-repeat 25px 35px; }

  h2 { font-size: 32.9px; }

  h4 { font-size: 15.95px; }

  .section-header span { font-size: 30.9px; }

  .left-content div a { width: 100%; }

  article img,
  .left-content .explore-gm,
  .middle-left .explore-gm {
    width: 96%;
    padding: 0;
  }

  .left-content .explore-gm,
  .middle-left .explore-gm { margin-top: 10px; }

  .accordion h4 {
    margin: 5px 0 5px;
    line-height: 21px;
  }

  .right-content a.read-more,
  .middle-content .gm-access a.read-more { width: 29%; }

  .middle-content .stay-conn a.read-more { width: 23%; }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   6. Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
